
@{
    ViewBag.Title = "man";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu{
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start" id="sidebar">
        <div class="offcanvas-header pt-4">
            <a class="offcanvas-title header-brand" href="/Home/HomePage/">
                <img src="/Assets/img/logo.svg" alt="" />
            </a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="mb-3">
                <li class="header-item">
                    <a class="header-link " href="/Home/HomePage/">TRANG CHỦ</a>
                </li>
                <li class="header-item">
                    <a class="header-link active" href="/Man/Index/">NAM</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Women/Index/">NỮ</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Girl/Index/">BÉ GÁI</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Boy/Index/">BÉ TRAI</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="/Outlet/Index/">OUTLET</a>
                </li>
            </ul>
            <div class="sidebar-form-wrap ">
                <form class="d-flex sidebar-form">
                    <button class="search-btn">
                        <span></span>
                    </button>
                    <input type="text"
                           placeholder="Bạn tìm gì"
                           id="input-sidebar-search"
                           autocomplete="off" />
                </form>
                <div class="search-history">
                    <div class="d-flex justify-content-between search-history__header">
                        <p>Lịch sử tìm kiếm</p>
                        <span style="cursor: pointer;">Xóa</span>
                    </div>
                    <div class="search-history-body pt-2">
                        <span>áo polo</span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Button to open the offcanvas sidebar -->
    <button class="btn-menu d-xl-none d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
        <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="header-list d-none d-xl-flex me-auto ms-5">
        <li class="header-item">
            <a class="header-link " href="/Home/HomePage/">TRANG CHỦ</a>
        </li>
        <li class="header-item">
            <a class="header-link active" href="/Man/Index/">NAM</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Women/Index/">NỮ</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Girl/Index/">BÉ GÁI</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Boy/Index/">BÉ TRAI</a>
        </li>
        <li class="header-item">
            <a class="header-link" href="/Outlet/Index/">OUTLET</a>
        </li>
    </ul>
}

<main>
    <!--sub menu-->
    <div class="sub-menu position-relative">
        <div class="container-main">
            <ul class="d-flex flex-wrap h-100 p-0" style="margin: 0 -20px;">
                @{ Html.RenderAction("SubMenu", "Man");}
            </ul>
        </div>

    </div>
    <div class="container-main">
        <ul class="breadcrumb my-3">
            <li class="breadcrumb-item"><a href="./index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Nam</a></li>
        </ul>
        <!--Banner-->
        <section class="banner pb-4">
            <img src="~/Upload/Slide/2.jpg" width="100%" alt="">
        </section>


        <!--category-->
        <section class="pt-lg-5 pt-4 pb-5 border-bottom border-1">
            <h2 class="section-heading mb-4">Danh mục sản phẩm</h2>
            <div class="category-slider">
                <div class="text-center category-item">
                    <a href="#">
                        <img width="100%" class="rounded-circle" src="https://media.canifa.com/Simiconnector/simicategory_filename_tablet1639497541.png" alt="">
                    </a>
                    <a href="#" class="mt-3" style="color: var(--primary-text-color);">Áo phông</a>
                </div>
                <div class="text-center category-item">
                    <a href="#">
                        <img width="100%" class="rounded-circle" src="https://media.canifa.com/Simiconnector/simicategory_filename_tablet1639497503.png" alt="">
                    </a>
                    <a href="#" class="mt-3" style="color: var(--primary-text-color);">Áo polo</a>
                </div>
                <div class="text-center category-item">
                    <a href="#">
                        <img width="100%" class="rounded-circle" src="https://media.canifa.com/Simiconnector/simicategory_filename_tablet1639531301.png" alt="">
                    </a>
                    <a href="#" class="mt-3" style="color: var(--primary-text-color);">Bộ mặc nhà</a>
                </div>
                <div class="text-center category-item">
                    <a href="#">
                        <img width="100%" class="rounded-circle" src="https://media.canifa.com/Simiconnector/simicategory_filename_tablet1639530678.png" alt="">
                    </a>
                    <a href="#" class="mt-3" style="color: var(--primary-text-color);">Váy liền thân</a>
                </div>
                <div class="text-center category-item">
                    <a href="#">
                        <img width="100%" class="rounded-circle" src="https://media.canifa.com/Simiconnector/simicategory_filename_tablet1629478506.png" alt="">
                    </a>
                    <a href="#" class="mt-3" style="color: var(--primary-text-color);">Quần mặc nhà</a>
                </div>
                <div class="text-center category-item">
                    <a href="#">
                        <img width="100%" class="rounded-circle" src="https://media.canifa.com/Simiconnector/simicategory_filename_tablet1639530755.png" alt="">
                    </a>
                    <a href="#" class="mt-3" style="color: var(--primary-text-color);">Áo mặc nhà</a>
                </div>
                <div class="text-center category-item">
                    <a href="#">
                        <img width="100%" class="rounded-circle" src="https://media.canifa.com/Simiconnector/simicategory_filename_tablet1639530445.png" alt="">
                    </a>
                    <a href="#" class="mt-3" style="color: var(--primary-text-color);">Quần shorts</a>
                </div>
            </div>
        </section>



        <!--new product-->
        <section class="pt-5 pb-5">
            <!-- Nav pills -->
            <ul class="nav nav-pills ">
                <h2 class="section-heading pe-4">ĐỀ XUẤT CHO BẠN</h2>
                <li class="nav-item">
                    <a class="nav-link product-new__link active" data-bs-toggle="pill" href="#newProduct">BÁN CHẠY NHẤT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link product-new__link" data-bs-toggle="pill" href="#tShirt">SẢN PHẨM MỚI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link product-new__link" data-bs-toggle="pill" href="#tShirt">SẢN PHẨM KHUYẾN MẠI</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content mt-5">

                <div class="tab-pane active" id="newProduct">
                    <div class="row gx-3 gy-5">
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2tw22w029-sa598-110-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sa598.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2tw22w030-sr067-130-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sr067.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2th22w003-sb194-1-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sb194.png');"></span>
                                    </div>
                                    <div class="product-color">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sw001.png');"></span>
                                    </div>

                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2th22w001-sw001-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sw001.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/6/b/6bp22w002-sn220-m-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sn220.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/6/b/6bl22w002-sk010-m-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sk010.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/d/1ds22s048-sp235-120-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sp235.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/8/b/8bj22a004-sj755-31-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sj755.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tShirt">
                    <div class="row gx-3 gy-5">
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/5/t/5ts22w004-sk010-xl-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sk010.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2ts22w013-sy193-110-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sy193.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2ts22w012-sw001-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sb194.png');"></span>
                                    </div>

                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2ts22w004-sw001-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sw001.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2tl22w018-sa423-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sn220.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2tl22w014-sr019-1-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sk010.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/t/2tl22w005-sy224-1-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sp235.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/6/t/6ts22w001-sw001-m-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sj755.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pyjamas">
                    <div class="row gx-3 gy-5">
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/d/1ds22s048-sp235-120-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sk010.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/d/1ds22c015-sa534-110-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sy193.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/6/d/6ds22s008-fe062-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sb194.png');"></span>
                                    </div>

                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/d/1ds22w015-sm121-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sw001.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/d/1ds22c016-sm101-130-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sn220.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/d/1ds22s037-py029-120-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sk010.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/d/1ds22w008-sm040-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sp235.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/d/1ds22w006-sa534-110-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sj755.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="shocks">
                    <div class="row gx-3 gy-5">
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/b/2bs22s014-fb397-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sk010.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/b/2bs22c003-se129-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sy193.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/8/b/8bs22s007-sk010-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sb194.png');"></span>
                                    </div>

                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/2/b/2bs22c002-sk010-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sw001.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/b/1bs22s022-fm197-130-1.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sn220.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/6/b/6bs22s010-sy224-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sk010.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/1/b/1bs22s006-sy224-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sp235.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="https://canifa.com/img/486/733/resize/8/b/8bs22s014-sk010-2-thumb.jpg" width="100%" alt="">
                                    </a>
                                    <div class="product-size-wrap">
                                        <div class="d-flex justify-content-center flex-wrap pt-3">
                                            <div class="product-size active">110</div>
                                            <div class="product-size">120</div>
                                            <div class="product-size">130</div>
                                            <div class="product-size">140</div>
                                            <div class="product-size">150</div>
                                            <div class="product-size">160</div>
                                        </div>
                                        <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                                <div class="product-color-list d-flex pt-3 pb-2">
                                    <div class="product-color active">
                                        <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sj755.png');"></span>
                                    </div>


                                </div>
                                <a href="" class="product-name">
                                    Product name
                                </a>
                                <div class="d-flex mt-1">
                                    <div class="curent-price me-3">249.000 đ</div>
                                </div>

                                <div class="product-like">
                                    <span>Yêu thích</span>
                                    <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                    <i class="product-like-img2 fa-solid fa-heart"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript" src="/Assets/js/subIndex.js"></script>
}

@section styles{
    <link rel="stylesheet" href="/Assets/css/subIndex.css">
}