
@{
    ViewBag.Title = "outlet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="/Assets/css/outlet.css">
}
@section scripts{
    <script>

        ClientApp.controller("OutletController", OutletController);

        function OutletController($scope, $http) {
            $scope.Object = 'All'
            $scope.MinMoney = 99
            $scope.MaxMoney = 149
            $scope.addActive = function (e,Class) {
                $($(e.target).parent()).find(`.${Class}`).removeClass("active")
                $(e.target).addClass("active")
            }

            $scope.getData = function () {
                /** Lấy danh sách category*/
                $http.get("/Outlet/FilterOutlet", {
                    params: { o: $scope.Object, minMoney: $scope.MinMoney, maxMoney: $scope.MaxMoney }
                }).then(function (res) {
                    $scope.listOutlet = JSON.parse(res.data)
                    $.each($scope.listOutlet, (index, value) => {
                        value.ProductVariations = $scope.filterSameValue(value.ProductVariations)
                    })
                }, function (error) {
                    alert("failed")
                })
            }

            $scope.filterSameValue = function (list) {
                let newList = [] //chứa list idSize đã được filter
                $.each(list,(index, variation) => {

                    //nếu idSize chưa tồn tại trong newList
                    let checkExist = newList.some((value, index) => {
                        return value.ProductSize.ProSizeID == variation.ProductSize.ProSizeID
                    })

                    if (checkExist == false) {
                        newList.push(variation)
                    }
                })
                return newList
            }
            $scope.getData()
            $scope.changeObject = function (o) {
                $scope.Object = o
                $scope.getData()
            }

            $scope.changeMoney = function (minMoney, maxMoney) {
                $scope.MinMoney = minMoney
                $scope.MaxMoney = maxMoney
                $scope.getData()
            }


        }
    </script>
}
@section Menu{
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start" id="sidebar">
        <div class="offcanvas-header pt-4">
            <a class="offcanvas-title header-brand" href="/Home/HomePage/">
                <img src="/Assets/img/logo.svg" alt="" />
            </a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="mb-3">
                <li class="header-item">
                    <a class="header-link " href="/Home/HomePage/">TRANG CHỦ</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Home/man/">NAM</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Home/women/">NỮ</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Home/baby_girl/">BÉ GÁI</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Home/baby_boy/">BÉ TRAI</a>
                </li>
                <li class="header-item">
                    <a class="header-link active" href="/Home/outlet/">OUTLET</a>
                </li>
            </ul>
            <div class="sidebar-form-wrap ">
                <form class="d-flex sidebar-form">
                    <button class="search-btn">
                        <span></span>
                    </button>
                    <input type="text"
                           placeholder="Bạn tìm gì"
                           id="input-sidebar-search"
                           autocomplete="off" />
                </form>
                <div class="search-history">
                    <div class="d-flex justify-content-between search-history__header">
                        <p>Lịch sử tìm kiếm</p>
                        <span style="cursor: pointer;">Xóa</span>
                    </div>
                    <div class="search-history-body pt-2">
                        <span>áo polo</span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Button to open the offcanvas sidebar -->
    <button class="btn-menu d-xl-none d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
        <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="header-list d-none d-xl-flex me-auto ms-5">
        <li class="header-item">
            <a class="header-link " href="/Home/HomePage/">TRANG CHỦ</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Home/man/">NAM</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Home/women/">NỮ</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Home/baby_girl/">BÉ GÁI</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Home/baby_boy/">BÉ TRAI</a>
        </li>
        <li class="header-item">
            <a class="header-link active" href="/Home/outlet/">OUTLET</a>
        </li>
    </ul>
}
<main ng-controller="OutletController">

    <div class="container-main">
        <!--Banner-->
        <section class="banner mt-4 pb-5">
            <img src="https://media.canifa.com/Simiconnector/banner_name_tablet1648794896.png" width="100%" alt="">
        </section>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs mt-5 tab-outlet">
            <li class="nav-item" ng-click="changeObject('All')">
                <a class="nav-link active" data-bs-toggle="tab">TẤT CẢ</a>
            </li>
            <li class="nav-item" ng-click="changeObject('Nam')">
                <a class="nav-link" data-bs-toggle="tab">NAM</a>
            </li>
            <li class="nav-item" ng-click="changeObject('Nữ')">
                <a class="nav-link" data-bs-toggle="tab">NỮ</a>
            </li>
            <li class="nav-item" ng-click="changeObject('Bé trai')">
                <a class="nav-link" data-bs-toggle="tab">BÉ TRAI</a>
            </li>
            <li class="nav-item" ng-click="changeObject('Bé gái')">
                <a class="nav-link" data-bs-toggle="tab">BÉ GÁI</a>
            </li>
        </ul>

        <ul class="w-75 d-flex mx-auto mt-4 mb-5" style="background-color: #f6f6f6;">
            <li class="flex-grow-1 text-center" ng-click="changeMoney(99,149)"><a class="tab-price__link active">99k - 149k</a></li>
            <li class="flex-grow-1 text-center" ng-click="changeMoney(150,199)"><a class="tab-price__link">150k - 199k</a></li>
            <li class="flex-grow-1 text-center" ng-click="changeMoney(200,249)"><a class="tab-price__link">200k - 249k</a></li>
            <li class="flex-grow-1 text-center" ng-click="changeMoney(250,0)"><a class="tab-price__link">Từ 250k</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="all">
                <div class="row gx-3 gy-5">
                    <div class="col-xl-3 col-md-4 col-6" ng-repeat="item in listOutlet">
                        <div class="product" data='{"ProId":"{{item.ProId}}","ProName":"{{item.ProName}}","Price":"{{item.Price}}","DiscountPrice":"{{item.DiscountPrice}}","Percent":{{item.Percent}} }'>
                            <div class="product-img">
                                <a href="/Home/Detail/{{item.ProId}}">
                                    <img src="/Upload/Product/{{item.ProId}}/{{item.firstImage}}" width="100%" alt="">
                                </a>
                                <div class="product-size-wrap">
                                    <div class="d-flex justify-content-center flex-wrap pt-3">
                                         <div ng-repeat="size in item.ProductVariations" class="{{$index == 0 ? 'active' : ''}} product-size" ng-click="addActive($event,'product-size')" data-idSize="{{size.ProductSize.ProSizeID}}">{{size.ProductSize.NameSize}}</div>
                                    </div>
                                    <a class="product-btn-addCart bg-dark text-white d-inline-block p-2" onclick="addCart(this)" style="font-weight:500;font-size: 12px;cursor:pointer">THÊM VÀO GIỎ HÀNG</a>
                                </div>
                            </div>
                            <div class="product-color-list d-flex pt-3 pb-2">
                                <div ng-repeat="color in item.ProductImages" class="{{$index == 0 ? 'active' : ''}} product-color" onclick="changeImgProduct(event)" data-idColor="{{color.ProColorID}}" data="~/Upload/Product/{{item.ProId}}/{{color.Image}}">
                                    <span style="background-image: url('/Upload/ColorImage/{{color.ProColorID}}/{{color.ImageColor}}');pointer-events:none;"></span>
                                </div>
                            </div>
                            <span class="price-percent text-white" ng-if="item.Percent!=0">-{{item.Percent}}%</span>

                            <a href="/Home/Detail/{{item.ProId}}" class="product-name">
                                {{item.ProName}}
                            </a>
                            <div class="d-flex mt-1">
                                <div class="curent-price me-3">{{item.DiscountPrice}}</div>
                                <div class="curent-old" data="">{{item.Price}}</div>
                            </div>
                            <div class="product-like">
                                <span>Yêu thích</span>
                                <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                                <i class="product-like-img2 fa-solid fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
    $(".tab-price__link").click((e) => {
        $(".tab-price__link").removeClass("active")
        $(e.target).addClass("active")
    })
</script>



