.fw-bold{
    font-weight: 600 !important;
}

.process-item span{
    color: #d2d1d4;
}
.process-item{
    color:#77757f;
}
.process-item.active span{
    color: white;
    background-color: black;
}

.process-item.active{
    color: black;
}

.cart-content{
    padding:0 80px;
}

.col.item{
    width: 44%;
}
.col.price{
    width: 17%;
}
.col.qty{
    width: 17%;
}

.col.subtotal{
    width: 18%;
}

.col{
    text-align: left;
}

thead .col{
    padding: 10px 25px 10px 16px;
    background-color: var(--primary-text-color);
    color: #e8e8ea;
    font-weight: 500;
    font-size: 14px;
    border: none;
}

.cart-content__left, .cart-content__right{
    padding:40px 40px 20px 40px;background-color: #f9f9f9;
}

.item-name{
    text-decoration: none;
    color: #77757f;
    margin-bottom: 2px;
    line-height: 23px;
    display: inline-block;
}
.item-name:hover, tbody tr:hover .item-name{
    color: var(--primary-text-color);
    text-decoration: underline;
}
tbody tr:hover .cart-item__remove{
    display: block;
}
tbody .col{
    font-size: 14px;
    padding: 22px 25px 22px 16px;
    vertical-align: top;
}

.img-item{
    width: 60px;
    margin-right: 12px;
}
.item-size{
    font-size: 13px;
}

.btn-minus{
    background-image: url(../img/tru-icon.svg);
}
.btn-plus{
    background-image: url(../img/cong-icon.svg);
}

.btn-minus, .btn-plus{
    width: 24px;
    height: 24px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.input-cart-qty{
    width: 33px;
    border: none;
    background-color: #f9f9f9;
    text-align: center;
}

.cart-item__remove{
    background-image:url('../img/close.svg'); 
    width: 24px; 
    height:24px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;
}
.actions{
    padding: 22px 0;
    vertical-align: top;
}

.btn-order{
    width: 100%;
    background-color: #333f48;
    color: white;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 12px;
    transition: all ease 0.1s;
}
.btn-order:hover{
    opacity: 0.95;
}

.cart-content{
    margin-bottom: 80px;
}

.slick-slide.product{
    padding: 0 3px !important;
}