
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/Admin/css/ImportBill.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/Assets/Admin/FileAngularjs/ImportBillAngular.js"></script>
    <script src="~/Assets/Admin/js/ImportBill.js"></script>
}
<main id="main" class="main" ng-app="importBillApp" ng-controller="importBillController">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body pt-4" style="min-height:90vh;">
                        <div class="row">
                            <div class="col-7">
                                <div class="bg-white shadow p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mb-3">
                                            <select class="form-select" aria-label="Default select example">
                                                @foreach (var user in ViewBag.listUser)
                                                {
                                                    <option value="@user.UserID">@user.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <input type="date" class="form-control">
                                        </div>
                                        <div>
                                            Tổng tiền: <span id="totalImportBill"></span>
                                        </div>

                                        <a class="btn-print"><i class="fa-solid fa-print"></i></a>

                                        <button class="btn btn-primary" ng-click="saveClick()">Nhaap</button>
                                    </div>
                                    <div>
                                        <table class="mt-3 cart-list w-100 table table-importBill">
                                            <thead style="background-color: #333f48; color:white;">
                                                <tr>
                                                    <th class="col col-name">Sản phẩm</th>
                                                    <th class="col col-quantity">Số lượng</th>
                                                    <th class="col col-importPrice ">Giá nhập</th>
                                                    <th class="col col-price ">Giá bán</th>
                                                    <th class="col col-subtotal ">Thành tiền</th>
                                                    <th class="col col-action"></th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                               @*<tr class="row-product row-product-import-1 " data-proid="1" onclick="showimportdetail(1)">
                                                    <td class="col-name">áo phông nữ</td>
                                                    <td class="col-quantity"></td>
                                                    <td class="col-importprice">
                                                        <input type="number" class="input-price">
                                                    </td>
                                                    <td class="col-price">
                                                        <input type="number" class="input-price">
                                                    </td>
                                                    <td class="col-subtotal"></td>
                                                    <td class="col-action">
                                                        <a class="btn-delete" onclick="deleteproductimport(1)"><i class="fa-solid fa-trash" style="pointer-events:none;"></i></a>
                                                    </td>
                                                </tr>
                                                <tr class="row-importdetail-1 row-importdetail">
                                                    <td colspan="10" class=" pb-4" style="padding: 0;">
                                                            <ul class="d-flex mb-0 importdetail-item" data-idvariation="1001">
                                                                <li class="col-name  ps-4">
                                                                    <div class="d-flex py-1 ps-3 align-items-start border-bottom border-start">
                                                                        <img src="./imgs/8ls22s005-sb128-1-thumb.jpg" class="me-2" alt="" width="30px">
                                                                        <div class="d-flex align-items-center">
                                                                            <span class="item-size">m</span>
                                                                            <span>&nbsp;/&nbsp;</span>
                                                                            <span >xám</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="col-quantity p-2 d-flex align-items-center border-bottom"> <input type="number" onchange="countSubTotal(this,200000)" class="input-quantity"></li>
                                                                <li class="col-importprice p-2 price border-bottom"></li>
                                                                <li class="col-price p-2 price border-bottom"></li>
                                                                <li class="col-subtotal p-2 price border-bottom" data-subTotal=""></li>
                                                                <li class="border-bottom col-action p-2"><a class="btn-delete" onclick="deleteimportdetail(this)"><i class="fa-solid fa-trash" style="pointer-events:none;"></i></a></li>
                                                            </ul>
                                                    </td>
                                                </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="search-bar dropdown">
                                    <div class="bg-white shadow p-2">
                                        <form class="search-form d-flex align-items-center position-relative">
                                            <input type="search" name="query" class="search-product w-100" ng-model="search.ProName" placeholder="Nhập để tìm kiếm" title="Enter search keyword" />
                                            <button type="submit" title="Search">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </form>
                                        <table class="mt-3 cart-list w-100 table">
                                            <thead style="background-color: #333f48; color:white;">
                                                <tr>
                                                    <th class="col col-name">Sản phẩm</th>
                                                    <th class="col col-importPrice ">Giá nhập</th>
                                                    <th class="col col-price">Giá bán</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="row-product row-product-{{p.ProId}}" ng-repeat-start="p in products | filter: search" data-proId="{{p.ProId}}" onclick="showVariation(this)">
                                                    <td class="col-product-name">{{p.ProName}}</td>
                                                    <td data-importPrice="{{p.ImportPrice}}" class="col-product-importPrice">
                                                        {{p.ImportPrice}}
                                                    </td>
                                                    <td data-price="{{p.Price}}" class="col-product-price">
                                                        {{p.Price}}
                                                    </td>
                                                </tr>
                                                <tr class="row-variation-{{p.ProId}} row-variation" ng-repeat-end>
                                                    <td colspan="10" class=" pb-4" style="padding: 0;">
                                                        <div class=" d-flex mb-0 variation-item" ng-repeat="v in p.ProductVariations" onclick="addActive(this)" data-idVariation="{{v.ProVariationID}}">
                                                            <div class="col-product-name ps-4 bg-white">
                                                                <div class="d-flex py-1 ps-3 align-items-start border-bottom border-start col-product-name__inner">
                                                                    <img src="/Upload/Product/{{p.ProId}}/{{v.DisplayImage}}" class="me-2 variation-image" alt="" width="30px">
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="sizeValue">{{v.ProductSize.NameSize}}</span>
                                                                        <span>&nbsp;/&nbsp;</span>
                                                                        <span class="colorValue">{{v.ProductColor.NameColor}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-product-importPrice p-2 border-bottom"></div>
                                                            <div class="col-product-price p-2 border-bottom"></div>
                                                        </div>
                                                        <div class="text-end">
                                                            <div class=" btn btn-primary btn-sm mt-3 me-3" onclick="selectProduct(this)" data-proId="{{p.ProId}}">Chọn</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

</main>

