.btn-update, .btn-delete {
    border: none;
    color: #fff;
    display: inline-block;
    width: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.btn-delete {
    background-color: #f72f2f;
}

.btn-update {
    background-color: #c4c44e;
}

    .btn-update:hover i, .btn-delete:hover i {
        color: white;
    }

tbody td{
    vertical-align:middle;
}