.search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
    outline: none;
}

.select-Item, selected-Item {
    cursor: pointer;
}

    .select-Item:hover, selected-Item:hover {
        background: #f6f9ff
    }

.box-contain {
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    min-height: 200px
}

.dropdown-menu.show {
    display: flex;
    flex-wrap: wrap
}

.order-details-items {
    margin-bottom: 22px;
}


.table-order-items {
    border: 1px solid #c8c7cc;
    width: 100%;
}

    .table-order-items thead tr td, .table-order-items thead tr th {
        background-color: #f6f6f6;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        padding: 11px 0 12px 16px;
        color: #333f48;
        vertical-align: top;
        text-align: left;
    }

.order-details-items .col.name {
    width: 39.74%;
    padding-left: 16px;
}

.table-order-items thead .col.qty {
    text-align: center;
}

.order-details-items .col.qty {
    width: 20%;
}

.order-details-items .col {
    width: 13.42%;
}

.order-details-items .col {
    width: 13.42%;
}

.table-order-items .col.total {
    white-space: nowrap;
}

.table-order-items .order-product-photo {
    width: 40px;
    min-width: 40px;
    margin-right: 13px;
}

img {
    height: auto;
    width: 100%;
}

.table-order-items .order-product {
    display: -ms-flexbox;
    display: flex;
}

.table-order-items tbody tr td, .table-order-items tbody tr th {
    color: #333f48;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 0 13px 16px;
    vertical-align: middle;
    text-align: left;
    border-top: 1px solid #f6f6f6;
}
.input-discount {
    outline: none;
    width: 100px;
    border: 1px solid #c6c6c6;
    border-radius:2px;
}

.col.name{
    width:30% !important;
}
.col.originPrice{
    width:10%;
}
.col.priceAfter {
    width:15%;
}
.col.price-sale {
    width:20%;
}
.col.maxOrder {
    width:15%;
}
.search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}
.search-product:focus {
    outline: none;
    box-shadow: 0 0 10px 0 rgb(1 41 112 / 15%);
    border: 1px solid rgba(1, 41, 112, 0.3);
}
.search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}
.order-detail-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
}

    .order-detail-top .account-page-title {
        margin-bottom: 14px;
        margin-top: 20px;
    }

.account-page-title {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 22px;
}

    .account-page-title .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        display: block;
    }

.order-detail-top .account-page-title span {
    font-weight: 500;
}

.order-detail-top .order-date {
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}