<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="720" bgcolor="#ffffff">
        <tbody>
            <tr>
                <td style="margin:0">
                </td>
            </tr>
            <tr>
                <td style="padding:16px;line-height:30px">
                    <span class="im">
                        <p style="margin:0 0 10px">
                            Xin chào ,
                        </p>
                        <p style="margin:0 0 10px">
                            Chúng tôi nhận được yêu cầu đặt lại mật khẩu của bạn. Nếu bạn không yêu cầu, bạn có thể bỏ qua email này.
                            Nếu thực sự bạn quên mật khẩu, hãy <b>click ngay vào link bên dưới hoặc copy đường link này</b> vào trình duyệt để Canifa đặt lại mật khẩu cho tài khoản.
                        </p>
                    </span><div style="border:2px solid #2f5acf;padding:8px 16px;border-radius:16px">
                               <a href="{{Url}}" style="color:#2f5acf" target="_blank">
                                   {{Url}}
                               </a>
                    </div><span class="im">
                        <p style="margin:16px 0 10px">
                            Hi vọng bạn sẽ không quên mật khẩu của mình, nhưng nếu có quên thì chúng tôi rất sẵn sàng hỗ trợ bạn.
                        </p>
                        <p style="margin:0 0 10px">
                            
                            Canifa rất sẵn sàng để hỗ trợ khách hàng kịp thời nhất để khách hàng luôn có trải nghiệm mua hàng tuyệt vời nhất.
                        </p>
                        <p style="margin:0 0 10px">
                            Trân trọng cảm ơn quý khách,
                        </p>
                        <p style="margin:0">
                            Đội ngũ Canifa.
                        </p>
                    </span>
                </td>
            </tr>
             
        </tbody>
    </table>
</body>
</html>