
@{
    ViewBag.Title = "LoginView";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

@section styles{
    <style>
        input:focus {
            border: 1px solid #63b1bc !important;
        }

        .form-control:focus {
            color: #212529;
            background-color: #fff;
            outline: 0;
            box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
        }

        .continueShoping {
            display: none;
        }

        .payBill {
            display: none;
        }
    </style>
}
@section scripts{
    <script src="~/Assets/js/LoginAndRegis.js"></script>
    }

<div class="w-50 mx-auto ">
    <h3 class="text-center mb-5">Đăng nhập</h3>
    <form id="LoginView">
        <div class="form-group mb-3">
            <input type="text" name="Phone" id="Phone" value="@ViewBag.Phone" class="form-control Email" placeholder="Nhập số điện thoại của bạn">
            <label id="Phone-error" class="error" for="Phone" style="display: none;"></label>
        </div>
        <div class="form-group mb-3">
            <input type="password" value="@ViewBag.Password" id="Password" name="Password" class="form-control Password" placeholder="Mật khẩu">
            <label id="Password-error" class="error" for="Password" style="display: none;"></label>
        </div>
        <div onclick="LoginView()" class="submit-regisLogin submit-modal fw-bold text-white py-3 text-center w-100" style="background-color: #333f48;">
            Tiếp tục
        </div>
    </form>
</div>

