
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

@section styles{
    <style>
        input:focus {
            border: 1px solid #63b1bc !important;
        }

        .form-control:focus {
            color: #212529;
            background-color: #fff;
            outline: 0;
            box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
        }

        .continueShoping {
            display: none;
        }

        .payBill {
            display: none;
        }
    </style>
}
@section scripts{
    <script src="~/Assets/js/LoginAndRegis.js"></script>
}

<div id="divWrap">
    <div class="w-50 mx-auto ">
        <h3 class="text-center mb-5">Đặt lại mật khẩu</h3>
        <form id="resetPassword">
            <div class="form-group mb-3">
                <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="Mật khẩu mới">
                <label class="error" for="NewPassword" style="display: none;"></label>
            </div>
            <div class="form-group mb-3">
                <input type="password" name="ConfirmPass" class="form-control" placeholder="Mật khẩu mới">
                <label class="error" for="ConfirmPass" style="display: none;"></label>
            </div>
            <input type="hidden" id="ResetCode" value="@ViewBag.ResetCode" />
            <div onclick="ResetPassword()" class="submit-regisLogin submit-modal fw-bold text-white py-3 text-center w-100" style="background-color: #333f48;">
                Tiếp tục
            </div>
        </form>
    </div>
</div>