@model List<Project_3.Model.CartItem>
@{
    ViewBag.Title = "PaymentPage";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

@section styles{
    <link rel="stylesheet" href="/Assets/css/cart.css">
    <link href="~/Assets/css/Payment.css" rel="stylesheet" />
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="~/Assets/js/Cart/UpdateCart.js"></script>
    <script src="~/Assets/js/Cart/payment.js"></script>
}

<main class="border-top">
    <div class="d-flex justify-content-between align-items-center w-50 mx-auto my-5">
        <div class="process-item flex-grow-1 text-center">
            <span class="rounded-circle border me-2 d-inline-block text-center"
                  style="width:24px;line-height:22px;font-size: 14px;background-color: #63b1bc;">
                <img class="my-auto"
                     src="/Assets/img/checkpay.svg" style="position: relative;top: -2px;" alt="">
            </span>
            Giỏ hàng
        </div>
        <div class="flex-grow-1 border-top text-center"></div>
        <div class="process-item active flex-grow-1 text-center">
            <span class="rounded-circle border me-2 d-inline-block text-center"
                  style="width:24px;line-height:22px;font-size: 14px;">2</span>
            Đặt hàng
        </div>
        <div class="flex-grow-1 border-top text-center"></div>
        <div class="process-item flex-grow-1 text-center">
            <span class="rounded-circle border me-2 d-inline-block text-center"
                  style="width:24px;line-height:22px;font-size: 14px;">3</span>
            Hoàn tất
        </div>
    </div>
    <div class="cart-content pt-3">
        <div class="row g-1 align-items-stretch">
            <div class="col-lg-8 col-12 h-100">
                <div class="cart-content__left">
                    <div class="info-client pb-5 border-bottom">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4>Thông tin giao hàng</h4>
                            <a class="text-black fw-bold text-decoration-underline fs-6" href="/Cart/Index">
                                <img src="/Assets/img/back.svg" alt=""><span>Quay lại giỏ hàng</span>
                            </a>
                        </div>
                        <form action="" class="form-Payment account-setting-form mt-4" style="max-width:550px" data-cusid="@ViewBag.Customer.CusID">
                            <div class="form-group active mb-0">
                                <label>Họ tên</label>
                                <input type="text" value="@ViewBag.Customer.Name" name="name" id="name" class="form-control">
                                <label class="error" for="name" style="display: none;"></label>
                            </div>
                            <div class="form-group active mt-4 mb-0">
                                <label>Số điện thoại</label>
                                <input type="text" name="phone" id="phone" value="@ViewBag.Customer.Phone" class="form-control ">
                                <label id="phone-error" class="error" for="phone" style="display: none;"></label>
                            </div>
                            <select class="form-select form-select-sm mt-4 mb-0" id="city" name="city" aria-label=".form-select-sm">
                                <option value="" selected>Tỉnh / Thành phố</option>
                            </select>
                            <select class="form-select form-select-sm mt-4 mb-0" id="district" name="district" aria-label=".form-select-sm">
                                <option value="" selected>Quận / Huyện</option>
                            </select>
                            <select class="form-select form-select-sm mt-4 mb-0" id="ward" name="ward" aria-label=".form-select-sm">
                                <option value="" selected>Phường / Xã</option>
                            </select>
                            <div class="form-group active mt-4 mb-0">
                                <label>Địa chỉ</label>
                                <input type="text" name="address" id="address" value="@ViewBag.Customer.Address" class="form-control ">
                            </div>
                            <div class="form-group active mt-4 mb-0">
                                <label>Ghi chú</label>
                                <input type="text" name="note" id="note" class="form-control">
                            </div>
                            <button></button>
                        </form>
                    </div>
                    <div class="py-5 border-bottom">
                        <h4 class="mt-4 mb-3">Phương thức thanh toán</h4>
                        <div class="mb-3 d-flex justify-content-between align-items-center border payment-method active"
                             style="padding: 12px 16px;cursor: pointer;">
                            <div class="d-flex align-items-center" style="pointer-events: none;">
                                <input type="radio" name="payByCOD" class="radioPay">
                                <p style="font-size:16px;margin-left: 15px;">Thanh toán khi nhận hàng (COD)</p>
                            </div>
                            <img src="/Assets/img/cod.svg" alt="">
                        </div>
                        <div class="mb-3 d-flex justify-content-between align-items-center border payment-method"
                             style="padding: 12px 16px;cursor: pointer;">
                            <div class="d-flex align-items-center" style="pointer-events: none;">
                                <input type="radio" name="payByCOD" class="radioPay">
                                <p style="font-size:16px;margin-left: 15px;">Thanh toán bằng VNPAY</p>
                            </div>
                            <img src="/Assets/img/vnpay.svg" alt="">
                        </div>
                        <div class="mb-3 d-flex justify-content-between align-items-center border payment-method"
                             style="padding: 12px 16px;cursor: pointer;">
                            <div class="d-flex align-items-center" style="pointer-events: none;">
                                <input type="radio" name="payByCOD" class="radioPay">
                                <p style="font-size:16px;margin-left: 15px;">Thanh toán bằng ShopeePay</p>
                            </div>
                            <img src="/Assets/img/shopeepay.svg" alt="">
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4 class="fw-bold" style="font-size: 25px;">Giỏ hàng</h4>
                        <table class="mt-3 cart-list w-100 table-cart">
                            <thead style="background-color: #333f48; color:white;">
                                <tr>
                                    <th class="col item">Sản phẩm</th>
                                    <th class="col">Giá tiền</th>
                                    <th class="col qty">Số lượng</th>
                                    <th class="col subtotal">Tổng tiền</th>
                                    <th class="col action"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="cart-content__right h-100">
                    <h4>Đơn hàng</h4>
                    <div class="d-flex justify-content-between mt-4 mb-2" style="color:#77757f;">
                        <span>Giá gốc</span>
                        <span class="original-price"></span>
                    </div>
                    <div class="d-flex justify-content-between mb-2" style="color:#77757f;">
                        <span>Giảm giá</span>
                        <span class="discount-total" style="color: rgb(218, 41, 28);"></span>
                    </div>
                    <div class="d-flex justify-content-between fw-bold pb-5 border-bottom">
                        <span>Tổng tiền thanh toán</span>
                        <span class="total-price"></span>
                    </div>
                    <div class="checkout-step checkout-coupon">
                        <div class="checkout-step-title mb-3">Mã giảm giá/ Thẻ quà tặng</div>
                        <div class="checkout-step-content" style="padding-bottom: 25px;">
                            <div class="checkout-coupon-form">
                                <input type="text" name="promoCode"
                                       placeholder="Nhập mã" class="form-control">
                                <button class="btn-add-coupon btn-add">Áp dụng</button>
                            </div>
                        </div>
                    </div>
                    <button onclick="payment()" CLASS="btn-order">THANH TOÁN</button>
                </div>
            </div>

        </div>
    </div>
</main>