@model Models.Framework.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Assets/Admin/js/product/product.js"></script>
    <script src="~/Assets/Admin/js/product/Createproduct.js"></script>

    <!--Dùng để thao tác với procat-->
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script>
        var productApp = angular.module("ProductApp", ['ngFileUpload']);

        productApp.controller("ProductController", ProductController)
        function ProductController($scope, $http) {
            $scope.Oject = "Nam"
            $scope.TopMenu = function (Oject) {
                $http.get("/Admin/Category/getByType/" + Oject).then(function (res) {
                    $scope.listCategoryByType = JSON.parse(res.data)
                    $scope.CategoryByType = JSON.stringify($scope.listCategoryByType[0])
                    $scope.listProCatByCat = $scope.listCategoryByType[0].ProductCats
                }, function (error) {
                    alert("Lỗi khi tải dữ liệu")
                })
            }

            $scope.renderProcat = function () {
                //vì đặt ở value nên giá trị truyền vào là chuỗi
                //lấy danh sách procat của cat vừa chọn
                $scope.listProCatByCat = JSON.parse($scope.CategoryByType).ProductCats
            }

            $scope.TopMenu("Nam")
        }


        productApp.controller("SizeController", SizeController)
        function SizeController($scope, $http) {

            $scope.addValue = function (e) {
                addValue(e) //hàm được viết ở file product.js
            }

            /** Lấy danh sách category*/
            $http.get("/Admin/Size/getAllData").then(function (res) {
                $scope.ListSize = res.data
            }, function (error) {
                alert("Lỗi khi tải dữ liệu")
            })

            /**Thêm kích thước */
            //khi người dùng nhấn thêm
            $scope.Add = function () {
                $scope.proSize = null
            }

            //khi người dung nhấn lưu thêm mới kích thước
            $scope.SaveAdd = function () {
                if ($scope.createSizeForm.$valid) {
                    $http({
                        method: "POST",
                        url: "/Admin/Size/Create",
                        datatype: 'Json',
                        data: { proSize: $scope.proSize }
                    }).then(function (res) {
                        if (res.data.message) {
                            $scope.ListSize.push(res.data.newPz) //hiển thị thêm đối tượng vừa thêm

                            $(".btn-closeModel").trigger('click') //đóng modal 

                            //hiển thị thông báo thành công
                            $("#successToast .text-toast").text("Thêm kích thước thành công")
                            $("#successToast").toast("show")
                        }
                        else {
                            $("#errorToast .text-toast").text("Thêm thất bại")
                            $("#errorToast").toast("show")
                        }
                    })
                }

            }

            /** Sửa danh mục*/
            let indexEdit = 1 //biến chứa vị trí vừa sửa

            $scope.Edit = function (size, index, e) {
                e.stopPropagation()
                //nếu gán thẳng thì nó sẽ thay đổi luôn ở view trong khi chưa sửa
                $scope.proSize = { ProSizeID: size.ProSizeID, NameSize: size.NameSize }
                indexEdit = index
            }

            $scope.SaveEdit = function () {
                if ($scope.editSizeForm.$valid) {
                    $http({
                        method: "POST",
                        url: "/Admin/Size/Edit",
                        datatype: 'Json',
                        data: { proSize: $scope.proSize }
                    }).then(function (res) {
                        if (res.data) {
                            //Tìm phần tử vừa được sửa trong danh sách
                            var newProSize = $scope.proSize
                            $scope.ListSize.splice(indexEdit, 1, newProSize)
                            $("#successToast .text-toast").text("Sửa kích thước thành công")
                            $("#successToast").toast("show") //hiển thị thông báo thành công
                        }
                        else {
                            $("#errorToast .text-toast").text("Sửa thất bại")
                            $("#errorToast").toast("show") //hiển thị thông báo thành công
                        }
                        $(".btn-closeModel").trigger('click') //đóng modal 
                    })
                }

            }

            /**Xóa danh mục*/
            $scope.Delete = function (pz) {
                if (confirm(`Bạn có chắc chắn muốn xóa kích thước ${pz.NamSize}`)) {
                    $http({
                        method: 'Post',
                        url: '/Admin/Size/Delete',
                        dataType: 'Json',
                        data: { id: pz.ProSizeID }
                    }).then(function (res) {
                        if (res.data.check) {
                            var c = $scope.ListSize.indexOf(pz);
                            $scope.ListSize.splice(c, 1);
                            $("#successToast .text-toast").text(res.data.message)
                            $("#successToast").toast("show") //hiển thị thông báo thành công
                        }
                        else {
                            $("#errorToast .text-toast").text(res.data.message)
                            $("#errorToast").toast("show")
                        }
                        $(".btn-closeModel").trigger('click') //đóng modal 
                    })
                }
            }
        }


        productApp.controller("ProCatController", ProCatController);
        function ProCatController($scope, Upload, $http) {

            //lưu file người dùng upload
            $scope.SelectImage = function (file) {
                $scope.fileImage = file
            }

            ///**Thêm loại sản phẩm */
            //hàm upload ảnh trả về true nếu thành công
            let checkUpload = true
            $scope.UploadFiles = function (file, proCatId) {
                $scope.SelectFiles = file;
                if ($scope.SelectFiles && $scope.SelectFiles.length) {
                    Upload.upload({
                        url: '/ProductCat/Upload',
                        data: { file: $scope.SelectFiles, ProCatId: proCatId }
                    }).then(function (res) {

                    }), function (error) {
                        alert("Lỗi upload ảnh")
                        checkUpload = false
                    }
                }
            }

            $scope.errorImage = false
            $scope.SaveAdd = function () {
                if ($scope.createForm.$valid) {
                    if ($scope.fileImage !== undefined) {
                        $scope.proCat.Image = $scope.fileImage[0].name
                        $http({
                            method: "POST",
                            url: "/Admin/ProductCat/Create",
                            datatype: 'Json',
                            data: { proCat: $scope.proCat }
                        }).then(function (res) {
                            if (res.data.check) //tạo mới thành công
                            {
                                var productCat = JSON.parse(res.data.pc)
                                //upload ảnh khi thêm đối tượng thành công
                                $scope.UploadFiles($scope.fileImage, productCat.ProCatId)
                                if (checkUpload === false) {
                                    //khi upload fail thì xóa đối tượng vừa tạo
                                    $http({
                                        method: 'Post',
                                        url: '/Admin/ProductCat/Delete',
                                        data: { id: productCat.ProCatId }
                                    })
                                }
                                else {

                                }

                                $scope.errorImage = false

                                //nếu người dùng chỉ nhấn lưu
                                $(".btn-closeModel").trigger('click') //đóng modal 

                                //hiển thị thông báo thành công
                                $("#successToast .text-toast").text("Thêm loại sản phẩm thành công")
                                $("#successToast").toast("show")
                            }
                            else {
                                $("#errorToast .text-toast").text("Thêm thất bại")
                                $("#errorToast").toast("show")
                            }
                        })
                    }
                    else {
                        $scope.errorImage = true
                    }
                }
            }
        }


        productApp.controller("ColorController", ColorController)
        function ColorController(Upload, $scope, $http) {

            //Thêm value size hoặc màu khi nhấn
            $scope.addValue = function (e) {
                addValue(e) //hàm được viết ở file product.js
            }

            $http.get("/Admin/Color/getAllData").then(function (res) {
                $scope.ColorList = res.data
            }, function (error) {
                alert("Có lỗi khi lấy dữ liệu")
            })

            //lưu file người dùng upload
            $scope.SelectImage = function (file) {
                $scope.fileImage = file
            }

            ///**Thêm loại sản phẩm */
            //hàm upload ảnh trả về true nếu thành công
            let checkUpload = true
            $scope.UploadFiles = function (file, proColorId) {
                $scope.SelectFiles = file;
                if ($scope.SelectFiles && $scope.SelectFiles.length) {
                    Upload.upload({
                        url: '/Color/Upload',
                        data: { file: $scope.SelectFiles, proColorId: proColorId }
                    }).then(function (res) {

                    }), function (error) {
                        alert("Lỗi upload ảnh")
                        checkUpload = false
                    }
                }
            }

            //khi người dùng nhấn thêm
            $scope.Add = function () {
                $scope.proColor = null
            }

            $scope.errorImage = false
            //thêm màu
            $scope.SaveAdd = function () {
                if ($scope.createColorForm.$valid) {
                    if ($scope.fileImage !== undefined) {
                        $scope.proColor.ImageColor = $scope.fileImage[0].name //gán bằng tên ảnh đã chọn
                        $http({
                            method: "POST",
                            url: "/Admin/Color/Create",
                            datatype: 'Json',
                            data: { proColor: $scope.proColor }
                        }).then(function (res) {
                            if (res.data.check) //tạo mới thành công
                            {
                                var pco = res.data.pco
                                $scope.ColorList.push(pco)

                                //upload ảnh khi thêm đối tượng thành công
                                $scope.UploadFiles($scope.fileImage, pco.ProColorID)

                                if (checkUpload === false) {
                                    //khi upload fail thì xóa đối tượng vừa tạo
                                    $http({
                                        method: 'Post',
                                        url: '/Admin/Color/Delete',
                                        data: { id: pco.ProColorID }
                                    })
                                }
                                else {

                                }

                                $scope.errorImage = false

                                //nếu người dùng chỉ nhấn lưu
                                $(".btn-closeModel").trigger('click') //đóng modal 

                                //hiển thị thông báo thành công
                                $("#successToast .text-toast").text("Thêm màu thành công")
                                $("#successToast").toast("show")
                            }
                            else {
                                $("#errorToast .text-toast").text("Thêm thất bại")
                                $("#errorToast").toast("show")
                            }
                        })
                    }
                    else {
                        $scope.errorImage = true
                    }
                }
            }

            /** Sửa màu*/
            let indexEdit = 1 //biến chứa vị trí phần tử vừa sửa để thay thế lên view
            $scope.Edit = function (pc, index, e) {
                e.stopPropagation()
                $scope.proColor = { ProColorID: pc.ProColorID, NameColor: pc.NameColor, ImageColor: pc.ImageColor }
                indexEdit = index
            }

            $scope.SaveEdit = function () {
                if ($scope.editColorForm.$valid) {
                    //nếu upload file mới thì gán tên file mới vào proCat
                    if ($scope.fileImage != undefined) {
                        $scope.proColor.ImageColor = $scope.fileImage[0].name
                    }
                    $http({
                        method: "POST",
                        url: "/Admin/Color/Edit",
                        datatype: 'Json',
                        data: { proColor: $scope.proColor }
                    }).then(function (res) {
                        if (res.data.UpdateSuccess === true) //nếu update thành công
                        {
                            if (res.data.checkExistImg == false) //ảnh chưa tồn tại
                            {
                                //upload ảnh khi update thành công
                                $scope.UploadFiles($scope.fileImage, $scope.proColor.ProColorID)
                            }

                            //Tìm phần tử vừa được sửa trong danh sách và thay thế 
                            $scope.ColorList.splice(indexEdit, 1, $scope.proColor)

                            $("#successToast .text-toast").text("Sửa màu thành công")
                            $("#successToast").toast("show") //hiển thị thông báo thành công
                        }
                        else {
                            $("#errorToast .text-toast").text("Sửa thất bại")
                            $("#errorToast").toast("show") //hiển thị thông báo thành công
                        }
                        $(".btn-closeModel").trigger('click') //đóng modal 
                    })
                }

            }

            /**Xóa màu*/
            $scope.Delete = function (proColor) {
                if (confirm(`Bạn có chắc chắn muốn xóa màu ${proColor.NameColor}`)) {
                    $http({
                        method: 'Post',
                        url: '/Admin/Color/Delete',
                        dataType: 'Json',
                        data: { proColor: proColor }
                    }).then(function (res) {
                        if (res.data.check) {
                            var c = $scope.ColorList.indexOf(proColor);
                            $scope.ColorList.splice(c, 1);
                            $("#successToast .text-toast").text("Đã xóa màu thành công")
                            $("#successToast").toast("show") //hiển thị thông báo thành công
                        }
                        else {
                            $("#errorToast .text-toast").text("Màu này đang được dùng ở sản phẩm")
                            $("#errorToast").toast("show")
                        }
                        $(".btn-closeModel").trigger('click') //đóng modal 

                    })
                }
            }
        }
    </script>
}

<main id="main" class="main" ng-app="ProductApp" >

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body pt-4">
                        <form enctype="multipart/form-data" id="formProduct" ng-controller="ProductController">
                            <div class="d-flex mb-3">
                                <label for="inputText" class=" col-form-label label-create">Tên sản phẩm</label>
                                <div class=" flex-grow-1">
                                    <input type="text" name="name" id="name" class="form-control text-dark" autofocus>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <label for="inputText" class="col-form-label label-create">Chất liệu</label>
                                <div class="flex-grow-1 ">
                                    <input type="text" id="material" name="material" class=form-control text-dark">
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <label for="inputText" class="label-create col-form-label">Mô tả</label>
                                <div class="flex-grow-1">
                                    <input type="text" id="description" name="description" class="form-control text-dark">
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex mb-3 col-6">
                                    <label class="label-create col-form-label">Đối tượng</label>
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-content-center select-procat">
                                            <select class="form-select border-0 shadow-none" style="cursor:pointer;outline:none" ng-model="Oject" ng-change="TopMenu(Oject)">
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                                <option value="Bé trai">Bé trai</option>
                                                <option value="Bé gái">Bé gái</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-3 col-6">
                                    <label class="label-create col-form-label">Danh mục</label>
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-content-center select-procat">
                                            <select class="form-select border-0 shadow-none" style="cursor:pointer;outline:none" ng-model="CategoryByType" ng-change="renderProcat()">
                                                <option ng-repeat="c in listCategoryByType" value="{{c}}">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-3 col-6">
                                    <label class="label-create col-form-label">Loại sản phẩm</label>
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-content-center select-procat">
                                            <select class="form-select border-0 shadow-none" style="cursor:pointer;outline:none" id="ProCatId">
                                                <option ng-repeat="item in listProCatByCat" value="{{item.ProCatId}}">{{item.Name}}</option>
                                            </select>
                                            <div class="my-auto px-1" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#AddProCat"><i class="fa-solid fa-plus"></i></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-3 col-6">
                                    <label for="inputText" class="label-create col-form-label">Giá nhập</label>
                                    <div class="flex-grow-1">
                                        <input type="number" id="importPrice" name="importPrice" class="form-control text-dark">
                                    </div>
                                </div>
                                <div class="d-flex mb-3 col-6">
                                    <label for="inputText" class="label-create col-form-label">Giá bán</label>
                                    <div class="flex-grow-1">
                                        <input type="number" id="Price" name="Price" class="form-control text-dark">
                                    </div>
                                </div>
                                <div class="d-flex mb-3 col-6">
                                    <label for="inputText" class="label-create col-form-label">Giá khuyến mại</label>
                                    <div class="flex-grow-1">
                                        <input type="number" id="pricePromotion" name="pricePromotion" class="form-control text-dark">
                                    </div>
                                </div>
                                <div class="d-flex mb-3 col-6">
                                    <label for="inputText" class="label-create col-form-label">Bắt đầu khuyến mại</label>
                                    <div class="flex-grow-1">
                                        <input type="text" id="startPromotion" name="startPromotion" class="form-control text-dark" readonly>
                                    </div>
                                </div>
                                <div class="d-flex mb-3 col-6">
                                    <label for="inputText" class="label-create col-form-label">Kết thúc khuyến mại</label>
                                    <div class="flex-grow-1">
                                        <input type="text" id="stopPromotion" name="stopPromotion" class="form-control text-dark">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex justify-content-between px-3 py-2 mt-3 align-items-center text-dark font-weight-bold method-header" data-bs-toggle="collapse" href="#method" aria-expanded="false" aria-controls="method">
                            <span>Thuộc tính</span>
                            <span><i class="fa-solid fa-chevron-up"></i></span>
                        </div>
                        <div class="collapse method-content px-4 pt-4 p2-3" id="method">
                            <div class="d-flex align-items-center justify-content-between mb-4" ng-controller="ColorController">
                                <label for="" class="text-dark mb-0 font-weight-bold">Màu sắc</label>
                                <div class="flex-grow-1 wrap-color wrap-property d-flex">
                                    <div class="dropdown method-dropdown__wrap">
                                        <div class="btn dropdown-toggle method-dropdown" style="border: none;border-bottom: 2px solid rgb(202, 202, 202); border-radius: 0px;" type="button" id="dropdownColor" data-bs-toggle="dropdown" aria-expanded="false">
                                            <input type="text" ng-model="searchColor" class="border-0" style="outline: none; width: 97%" placeholder="Nhập để tìm kiếm" name="name" value="" />
                                        </div>
                                        <ul class="dropdown-menu method-dropdown__list shadow" aria-labelledby="dropdownColor">
                                            <li class="" ng-repeat="item in ColorList | filter : searchColor"><a class="dropdown-item method-dropdown__item-link " ng-click="addValue($event)" data-idColor="{{item.ProColorID}}"><img class="method-image-color" src="/Upload/ColorImage/{{item.ProColorID}}/{{item.ImageColor}}"><p>{{item.NameColor}}</p><div data-bs-toggle="modal" data-bs-target="#EditColor" ng-click="Edit(item,$index,$event)" class="method-edit"><i class="text-secondary m-auto fa-solid fa-pen" ></i></div></a></li>
                                        </ul>
                                    </div>
                                    <div class="my-auto px-1" style="cursor:pointer" ng-click="Add()" data-bs-toggle="modal" data-bs-target="#AddColor"><i class="fa-solid fa-plus"></i></div>

                                </div>

                                <!--Thêm color-->
                                <div class="modal fade" id="AddColor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Thêm màu</h5>
                                                <button type="button" class="btn-close btn-closeModel" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form name="createColorForm" novalidate>
                                                    <div class="form-horizontal">

                                                        <div class="row mb-3">
                                                            <label for="inputText" class="col-sm-4 col-form-label">Màu</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" name="NameColor" ng-model="proColor.NameColor" required>
                                                                <span ng-show="createColorForm.$submitted || createColorForm.NameColor.$dirty">
                                                                    <span class="error" ng-show="createColorForm.NameColor.$error.required">Bạn cần nhập tên màu</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="inputNumber" class="col-sm-4 col-form-label">Ảnh</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="file" ngf-select="SelectImage($files)">
                                                                <span>
                                                                    <span class="error" ng-show="errorImage">Bạn cần chọn hình ảnh</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                        <button type="submit" class="btn btn-primary" ng-click="SaveAdd()">Lưu</button>
                                                    </div>
                                                </form>

                                            </div>
                                            

                                        </div>
                                    </div>
                                </div>

                                <!--Sửa color-->
                                <div class="modal fade" id="EditColor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Sửa màu</h5>
                                                <button type="button" class="btn-close btn-closeModel" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form name="editColorForm" novalidate>
                                                    <div class="form-horizontal">

                                                        <div class="row mb-3">
                                                            <p for="inputText" class="col-sm-3 col-form-label">Màu</p>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="NameColor" ng-model="proColor.NameColor" required>
                                                                <span ng-show="editColorForm.$submitted || editColorForm.NameColor.$dirty">
                                                                    <span class="error" ng-show="editColorForm.NameColor.$error.required">Bạn cần nhập tên màu</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <p for="inputNumber" class="col-sm-3 col-form-label">Ảnh</p>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" type="file" ngf-select="SelectImage($files)">
                                                                <span>
                                                                    <span class="error" ng-show="errorImage">Bạn cần chọn hình ảnh</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                        <button type="submit" class="btn btn-primary" ng-click="SaveEdit()">Lưu</button>
                                                        <div class="btn btn-primary bg-danger" ng-click="Delete(proColor)">Xóa</div>
                                                    </div>
                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-imgItem">

                            </div>

                            <div class="d-flex align-items-center justify-content-between mb-4 mt-5" ng-controller="SizeController">
                                <label for="" class="text-dark mb-0 font-weight-bold">Kích thước</label>
                                <div class="flex-grow-1 d-flex wrap-size wrap-property">
                                    <div class="dropdown method-dropdown__wrap">
                                        <div class="btn dropdown-toggle method-dropdown " style="border: none;border-bottom: 2px solid rgb(202, 202, 202);border-radius:0px;" type="button" id="dropdownColor" data-bs-toggle="dropdown" aria-expanded="false">
                                            <input type="text" ng-model="searchSize" class="border-0" style="outline:none; width:97%" placeholder="Nhập để tìm kiếm" name="name" value="" />
                                        </div>
                                        <ul class="dropdown-menu method-dropdown__list shadow" aria-labelledby="dropdownColor">
                                            <li class="method-dropdown__item" ng-repeat="item in ListSize | filter : searchSize"><a class="dropdown-item method-dropdown__item-link" ng-click="addValue($event)" data-idSize="{{item.ProSizeID}}" href="#"><p>{{item.NameSize}}</p><div data-bs-toggle="modal" data-bs-target="#EditSize" ng-click="Edit(item,$index,$event)" class="method-edit"><i class="text-secondary m-auto fa-solid fa-pen"></i></div></a></li>
                                        </ul>
                                    </div>
                                    <div class="my-auto px-1" style="cursor:pointer" ng-click="Add()" data-bs-toggle="modal" data-bs-target="#AddSize"><i class="fa-solid fa-plus"></i></div>
                                </div>

                                <!--Thêm Size-->
                                <div class="modal fade" id="AddSize" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Thêm kích thước</h5>
                                                <button type="button" class="btn-close btn-closeModel" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form name="createSizeForm" novalidate>
                                                    <div class="form-horizontal">

                                                        <div class="row mb-3">
                                                            <p for="inputText" class="col-sm-3 col-form-label">Kích thước</p>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="NameSize" ng-model="proSize.NameSize" required>
                                                                <span ng-show="createSizeForm.$submitted || createSizeForm.NameSize.$dirty">
                                                                    <span class="error" ng-show="createSizeForm.NameSize.$error.required">Bạn cần nhập tên kích thước</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                        <button type="submit" class="btn btn-primary" ng-click="SaveAdd()">Lưu</button>
                                                    </div>
                                                </form>

                                            </div>
                                            

                                        </div>
                                    </div>
                                </div>

                                <!--Sửa Size-->
                                <div class="modal fade" id="EditSize" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Sửa kích thước</h5>
                                                <button type="button" class="btn-close btn-closeModel" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form name="editSizeForm" novalidate>
                                                    <div class="form-horizontal">

                                                        <div class="row mb-3">
                                                            <p for="inputText" class="col-sm-3 col-form-label">Kích thước</p>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="NameSize" ng-model="proSize.NameSize" required>
                                                                <span ng-show="editSizeForm.$submitted || editSizeForm.NameSize.$dirty">
                                                                    <span class="error" ng-show="editSizeForm.NameSize.$error.required">Bạn cần nhập tên kích thước</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                        <div class="btn btn-primary" ng-click="SaveEdit()">Lưu</div>
                                                        <button type="submit" class="btn btn-primary bg-danger" ng-click="Delete(proSize)">Xóa</button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="box-options mt-4 mb-4">

                        </div>
                        <div class="text-end">
                            <div class="btn btn-primary me-3 btn-create"><i class="fa-solid fa-floppy-disk"></i> Lưu</div>
                            <div class="btn-cancel btn bg-secondary text-white" onclick="CancelClick()"><i class="fa-solid fa-ban"></i> Bỏ qua</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Thêm loại sản phẩm-->
    <div class="modal fade" ng-controller="ProCatController" id="AddProCat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm danh mục</h5>
                    <button type="button" class="btn-close btn-closeModel" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="createForm" novalidate>
                        <div class="form-horizontal">

                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-4 col-form-label">Tên loại sản phẩm</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Name" ng-model="proCat.Name" required>
                                    <span ng-show="createForm.$submitted || createForm.Name.$dirty">
                                        <span class="error" ng-show="createForm.Name.$error.required">Tên loại sản phẩm không được để trống</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label">Select</label>
                                <div class="col-sm-8">
                                    <select class="form-select" aria-label="Default select example" ng-model="proCat.CatID">
                                        @foreach (var item in ViewBag.CatList)
                                        {
                                            <option value="@item.CatID">@item.Name - @item.type</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Ảnh</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="file" id="formFile" ngf-select="SelectImage($files)">
                                    <span>
                                        <span class="error" ng-show="errorImage">Bạn cần chọn hình ảnh</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button class="btn btn-primary" ng-click="SaveAdd()">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>
