<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>CANIFA</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="~/Assets/Admin/img/logo.svg" rel="icon" />

    <!--fontawesome-->
    <link href="~/Assets/fonts/fonts/fontawesome-free-6.0.0-web/css/all.min.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/Assets/Admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/Assets/Admin/css/style.css" rel="stylesheet" />
    <!--custom-made-->
    <link href="~/Assets/Admin/css/baseAdmin.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <i class="fa-solid fa-gear me-2" style="font-size:30px;"></i>
                <span class="d-none d-lg-block">CANIFA</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center"
                  method="POST"
                  action="#">
                <input type="text" name="query" placeholder="Nhập để tìm kiếm" title="Enter search keyword" />
                <button type="submit" title="Search">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <!-- End Search Icon-->

                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#">
                                <span class="badge rounded-pill bg-primary p-2 ms-2">View all</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>
                    </ul>
                    <!-- End Notification Dropdown Items -->
                </li>
                <!-- End Notification Nav -->

                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#">
                                <span class="badge rounded-pill bg-primary p-2 ms-2">View all</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="/Assets/Admin/img/messages-1.jpg"
                                     alt=""
                                     class="rounded-circle" />
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>
                                        Velit asperiores et ducimus soluta repudiandae labore
                                        officia est ut...
                                    </p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="/Assets/Admin/img/messages-2.jpg"
                                     alt=""
                                     class="rounded-circle" />
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>
                                        Velit asperiores et ducimus soluta repudiandae labore
                                        officia est ut...
                                    </p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="/Assets/Admin/img/messages-3.jpg"
                                     alt=""
                                     class="rounded-circle" />
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>
                                        Velit asperiores et ducimus soluta repudiandae labore
                                        officia est ut...
                                    </p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>
                    </ul>
                    <!-- End Messages Dropdown Items -->
                </li>
                <!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">
                    <a href="#" class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                        <img src="/Assets/Admin/img/profile-img.jpg"
                             alt="Profile"
                             class="rounded-circle" />
                        <span class="d-none d-md-block dropdown-toggle ps-2">Trần Khánh Sơn</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>transon</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>Profile của tôi</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Cài đặt tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/Admin/Login/Index">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>

                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    @RenderPage("_SideBar.cshtml")
    <!-- End Sidebar-->
    @RenderBody()

    <!--alert-->
    <div class="position-fixed " style="z-index: 100000;top:60px; right: 10px;">
        <div id="successToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" style=" color: #0f5132; border-color: #badbcc; background: #d1e7dd;">
            <div class="toast-body text-dark d-flex justify-content-between align-items-center">
                <p class="m-0 text-toast"> <i class="bi bi-check-circle me-1"></i>Thành công</p>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="position-fixed " style="z-index: 100000;top:60px; right: 10px;">
        <div id="errorToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" style="color: #842029; border-color: #f5c2c7; background: #f8d7da; ">
            <div class="toast-body text-dark d-flex justify-content-between align-items-center">
                <p class="m-0 text-toast"><i class="bi bi-exclamation-octagon me-1"></i> Thất bại</p>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <a href="#"
       class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!--jquery file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <!--ajax file -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="/Assets/Admin/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/Assets/Admin/vendor/chart.js/chart.min.js"></script>
    <script src="/Assets/Admin/vendor/echarts/echarts.min.js"></script>
    <script src="/Assets/Admin/vendor/quill/quill.min.js"></script>
    <script src="/Assets/Admin/vendor/tinymce/tinymce.min.js"></script>
    <script src="/Assets/Admin/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/Assets/Admin/js/main.js"></script>

    <!--Convert price-->
    <script>
        /*hiển thị giá*/
        function convertPrice(price) {
            let tg = "";
            let length = price.length;
            let count = 0;
            for (var i = length - 1; i >= 0; --i) {
                if (count % 3 == 0 && count != 0) {
                    tg = price[i] + '.' + tg;
                }
                else {
                    tg = price[i] + tg;
                }
                count++;
            }
            return tg + "đ";
        }

        $(".price").each((index, value) => {
            
            let textPrice = $(value).text();
            if (textPrice.length != 0) {
                let tg = convertPrice(textPrice)
                $(value).text(tg)
            }
        })
    </script>
    <!--angular file-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
