<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="index.html">
                <i class="bi bi-grid"></i>
                <span>Tổng quan</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed"
               data-bs-target="#product-nav"
               data-bs-toggle="collapse"
               href="#">
                <i class="bi bi-menu-button-wide"></i><span>Hàng hóa</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="product-nav"
                class="nav-content collapse"
                data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/Admin/Category/Index">
                        <i class="bi bi-circle"></i><span>Danh mục sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ProductCat/Index">
                        <i class="bi bi-circle"></i><span>Loại sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Product/Index">
                        <i class="bi bi-circle"></i><span>Sản phẩm</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed"
               data-bs-target="#sell-nav"
               data-bs-toggle="collapse"
               href="#">
                <i class="bi bi-journal-text"></i><span>Đơn hàng</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="sell-nav"
                class="nav-content collapse"
                data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/Admin/Order/WaitConfirm">
                        <i class="bi bi-circle"></i><span>Chờ xác nhận</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Order/WaitProcess">
                        <i class="bi bi-circle"></i><span>Chờ xử lý</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Order/Tranfering">
                        <i class="bi bi-circle"></i><span>Đang vận chuyển</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Order/Success">
                        <i class="bi bi-circle"></i><span>Thành công</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Order/Canceled">
                        <i class="bi bi-circle"></i><span>Đã hủy</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed"
               data-bs-target="#discount-nav"
               data-bs-toggle="collapse"
               href="#">
                <i class="bi bi-journal-text"></i><span>Khuyến mại</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="discount-nav"
                class="nav-content collapse"
                data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/Admin/Discount/Index">
                        <i class="bi bi-circle"></i><span>Giảm giá</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Voucher/">
                        <i class="bi bi-circle"></i><span>Tạo mã giảm giá</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/ImportBill">
                <i class="bi bi-person"></i><span>Nhập hàng</span>
            </a>
        </li>
        <!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/User/Index">
                <i class="bi bi-person"></i><span>Nhân viên</span>
            </a>
        </li>
        <!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/New/Index">
                <i class="bi bi-layout-text-window-reverse"></i><span>Bài viết</span>
            </a>
        </li>
        <!-- End Charts Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed"
               data-bs-target="#icons-nav"
               data-bs-toggle="collapse"
               href="#">
                <i class="bi bi-bar-chart"></i><span>Báo cáo</span>
            </a>
            <ul id="icons-nav"
                class="nav-content collapse"
                data-bs-parent="#sidebar-nav">
                <li>
                    <a href="icons-bootstrap.html">
                        <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-remix.html">
                        <i class="bi bi-circle"></i><span>Remix Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-boxicons.html">
                        <i class="bi bi-circle"></i><span>Boxicons</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Icons Nav -->
    </ul>
</aside>